@import "../variables";

.technologies-list {
  list-style: none;
  column-count: 3;
  font-size: clamp(1rem, 3vw, 1.6em);
  padding: 0;

  li {
    font-weight: 800;

    &.dabbled {
      font-style: italic;
      font-weight: 400;
      color: lighten($black, 15%);

      @media (prefers-color-scheme: dark) {
        color: hsl(225, 31%, 74%);
      }
    }
  }
}
