@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,900;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,700&display=swap");
/* Breakpoint variables */
$bp-small: 24.15;
$bp-medium: 43.75;
$bp-large: 60.25;
$bp-xlarge: 75;

:root {
  color-scheme: dark light;
}

:root[color-mode="light"] {
  --primary-text: #{$black};
  --background-color: #{$white};
  --card-color: hsl(25, 43%, 79%);
  --card-color-darker: hsl(25, 43%, 59%);
  --card-border-color: #{$white};
  --element2: #222222;
  --element3: #333333;
  --elementInverse: #eee;
  --primary: #01408e;
  --secondary: #3c5d5c;
  --tertiary: #fff7d6;
  --box-shadow: rgba(29, 29, 29, 0.3);

  --toggle-primary: #f1f1f1;
  --toggle-primary-light: #152640;
  --toggle-secondary: #eec413;
}

:root[color-mode="dark"] {
  --primary-text: #{$white};
  --background-color: #{$black};
  --card-color: hsl(225, 31%, 74%);
  --card-color-darker: hsl(225, 31%, 54%);
  --card-border-color: hsl(225, 31%, 74%);
  --element2: #dddddd;
  --element3: #cccccc;
  --elementInverse: #111;
  --primary: #8fceff;
  --secondary: #72faca;
  --tertiary: #eee8a9;
  --box-shadow: rgba(241, 241, 241, 0.2);

  --toggle-primary: #{$black};
  --toggle-primary-light: #152640;
  --toggle-secondary: hsl(225, 31%, 74%);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

$min_width: 320px;
$max_width: 1200px;

html,
body {
  min-height: 100%;
  margin: 0;
  @include fluid-type($min_width, $max_width, 14px, 16px);
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #{var(--primary-text)};
  background: var(--background-color);
}

body,
div,
p,
th,
td,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
figcaption,
cite,
b,
strong,
button {
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* Generic header styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  font-weight: normal;
  // transition: all linear 0.2s;
  margin: 1rem auto 0.5rem auto;
  letter-spacing: -0.025rem;
}

h1 {
  font-size: clamp(2.25em, 3vw, 4em);
  line-height: 1.05;
  margin: 1rem auto;
}

h2 {
  font-size: clamp(1.15em, 3vw, 2em);
  color: var(--primary-text);
  line-height: 1;
}

h3 {
  @include fluid-type($min_width, $max_width, 1.5rem, 2rem);
  line-height: 1.15;
}

p {
  font-size: clamp(1.1rem, 0.7153rem + 1.6368vw, 1.5rem);
  line-height: 1.15;
}

strong {
  font-weight: 800;
}

.linebreak {
  height: 2px;
  overflow: visible;
  color: var(--primary-text);
  position: relative;
  margin: 1.25em auto;
  display: block;

  &::before {
    content: "";
    background: linear-gradient(to right, transparent, currentColor, transparent);
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
  }

  &[data-content] {
    text-align: center;

    &::after {
      content: attr(data-content);
      position: relative;
      background: var(--background-color);
      padding: 0 1.5rem;
      top: -0.475em;
      font-size: 3em;
      line-height: 1;
      font-family: serif;
      font-style: italic;
      color: currentColor;
    }
  }
}

hr {
  //   display: block;
  margin: 50px 0 -20px;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: var(--card-color);

  + h2 {
    display: inline-block;
    position: relative;
    left: 20%;
    margin: 0;
    padding: 0.5em 1em;
    border: 1px solid var(--primary-text);
    box-shadow: inset 0 0 0 1px var(--card-color-darker);
    transform: translateX(-40%);
    color: var(--primary-text);
    font-size: clamp(1.15em, 3vw, 1.25em);
    font-weight: 500;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--background-color);
  }
}
