// FONTS
$serif: "Merriweather", serif;
$sans-serif: "Nunito", sans-serif;

$off-white: hsl(0, 0%, 86%);
$body-text: #dbdbdb;
$white: #f2f2f2;

$black: hsl(290, 34%, 10%);
$dark-slate: #2c2f38;
$mint: #84fab0;
$teal: #01bc9a;
$sky-blue: #8fd3f4;
$purple: #383d95;
$slate: #8892b0;
$medium-slate: #a8b2d1;
$light-slate: #e1e6f7;
